<h1>Hash#mostrar</h1>
<p>Find me in app/views/hash/mostrar.html.erb</p>
<h1>Datos de la Persona</h1>

<table class="tabla-persona">
  <tr>
    <th>Nombre</th>
    <td><%= @persona[:nombre] %></td>
  </tr>
  <tr>
    <th>Apellido</th>
    <td><%= @persona[:apellido] %></td>
  </tr>
  <tr>
    <th>Teléfono</th>
    <td><%= @persona[:telefono] %></td>
  </tr>
  <tr>
    <th>Correo</th>
    <td><%= @persona[:correo] %></td>
  </tr>
</table>
