<h1>Bienvenido</h1>
<p>Página de inicio</p>
<p>UNAN-León</p>
<h3>Imprimiendo un array Ruby dentro de una vista</h3>
<% @dias_semana.each do |dia| %>
<%= dia %> <br>
<% end %>
<h3> Método last</h3>
<%= @dias_semana.last %>
<h3> primer campo del array</h3>
<%= @dias_semana.first %>
<h3> Método tamaño del array</h3>
<%= @dias_semana.length%>