h1
{
color: black;
height: 30px;
text-align: center;
}
p
{
height:15px;
text-align: center;
}
.tabla-persona {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabla-persona th,
.tabla-persona td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.tabla-persona th {
  background-color: #4CAF50;
  color: white;
}

.tabla-persona td {
  background-color: #f9f9f9;
}
